body {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  h1 {
    margin-bottom: 20px;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
  }

  @media (max-width: 768px) {
    h1 {
        font-size: 20px; /* Уменьшаем заголовок */
    }

    .table {
        overflow-x: auto;
        display: block;
        white-space: nowrap; /* Запрещаем перенос строк */
    }

    th, td {
        padding: 5px;
        font-size: 14px; /* Уменьшаем шрифт */
    }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }

  .button {
    border: 2px solid white;
    color: white;
    background-color: #1e1e1e;}
}


